body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
.navbar-brand img{
    width: 17%;
}
.btn-outline-primary{
    background: none;
    border-color: #6278df;
    color: #6278df;
}
.btn-outline-primary:hover{
    background-color: #6278df;
    color: #fff;
}
/* Slider Section */
.slider-section{
   background: url(https://mobirise.com/extensions/appamp/assets/images/mbr-10.jpg) no-repeat center center;
   background-size: cover;
   padding: 200px 0;  
   position: relative;
   z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.slider-caption{}
.slider-caption h1{
    font-size: 50px;
}
.btn-success{
    background-color: #5ba533;
    border:3px solid #5ba533;
    color: #ffffff; 
}
.btn-success:hover{
    background-color: #6278df !important;
    border: 3px solid #6278df;
    color: #fff;
}
.about-section{
    background: #f7f9ff;
}
.about-text-left{
    margin-top: 120px;
}
.about-text-left .lead{
   line-height: 2.7rem;
   font-size: 25px;
}

/* Feature Section */
.feature-item{
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-img-sec img{
    height: 100%;
    width: auto !important;
    max-width: inherit !important;
    
    position: relative;
    left: -130px;
}
.right-text-sec{
    width: 60%;
    padding: 20px;
    margin-top: 40px;
}


/* Responsive CSS */
@media (max-width:992px) {
    .about-text-left {
        margin-top: 0;
    }
    .form-control.form-select-lg.w-50.ms-auto.mt-5.py-3 {
        margin-right: 172px;
    }
    .btn.btn-success.btn-lg.form-control.w-50.mt-5.py-3.fw-bold {
        margin-left: 175px;
    }
}

@media (max-width:768px) {
    .form-control.form-select-lg.w-50.ms-auto.mt-5.py-3 { 
        margin-right: 132px;
        margin-top: -51px;
    }
    .btn.btn-success.btn-lg.form-control.w-50.mt-5.py-3.fw-bold {
        margin-left: 126px;
    }
}

@media (max-width:576px) {
    .form-control.form-select-lg.w-50.ms-auto.mt-5.py-3 { 
        margin-right: 95px;
    }
    .btn.btn-success.btn-lg.form-control.w-50.mt-5.py-3.fw-bold {
        margin-left: 105px;
    }
}